/* 
@font-face {
    font-family: ProximaNova; Имя шрифта
    src: url('../font/proximanova-regular.otf'); Путь к файлу со шрифтом
}
*/

a {
	text-decoration: none;
}

.element1 {
	background: url(../img/bg/1.jpg) no-repeat;
	background-size:cover;
}

.element2 {
	background: url(../img/bg/2.jpg) no-repeat;
	background-size:cover;
}

.element5 {
	background: url(../img/bg/3.jpg) no-repeat;
	background-size:cover;
}
.element3 {
	background: url(../img/bg/4.jpg) no-repeat;
	background-size:cover;
}
.element4 {
	background: url(../img/bg/5.jpg) no-repeat;
	background-size:cover;
}

html, body {
	/*	width: 1200px;
        margin: 0px auto;
        height: 100%;*/
	background: black;
}

.wrapper {
	/*  -webkit-transition: all 3.0s ease-in-out;
      -moz-transition: all 3.0s ease-in-out;
      -o-transition: all 3.0s ease-in-out;*/
	/*transition: all 2.5s ease-in-out;*/
	color: white;

	display: block;

	min-height: 100%;
	min-width: 1200px;

	width: 100%;
	height: auto;

	position: fixed;

	top: 0;
	left: 0;
}

.header {
	display: block;
	box-sizing: border-box;
}
.my_name {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	font-weight: 500;
	margin-left: 5%;
}
.my_name h1 {
	font-size: 1.0em;
}
.my_name a {
	color: #efefef;
	font-weight: 600;
}

.header-nav {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	float: right;
	margin-right: 5%;
}

.nav_item {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	margin-right: 2em;
	padding: 0.7em;
	font-size: 1.0em;
	/*transition: all 1.3s ease-out;*/

}
.nav_item a:hover{
	border-bottom: 3px solid #efefef;
	text-decoration: none;
}

.nav_item a{
	color: #efefef;
}

.nav_item:last-child {
	margin-right: 0.0em;
}

.intro {
	width: 37em;
	display: block;
	box-sizing: border-box;
	font-size: 1.5em;
	padding-top: 6em;
	padding-left: 5em;
	padding-right: 10em;
	text-align: center;
}

.button-about_me a {
	display: block;
	box-sizing: border-box;

	width: 6em;
	height: 2.0em;
	background: #efefef;;
	border-radius: 5px;

	margin-left: 21em;

	font-size: 1.0em;

	transition: all 0.7s ease-out;
}

.button-about_me a:hover { 
	color: #efefef;
	background: #0C0D0C;
	text-decoration: none;
}

.button-about_me-center {
	display: block;
	box-sizing: border-box;
	text-align: center; 
	padding-top: 0.5em;
	color: black;
	font-weight: 600;
}

/*============main==========*/

.blog {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0px;
	margin: 0px auto;
}

.blogMainColumn {
	margin: 2em auto;
	display: inline-block;
	box-sizing: border-box;
	vert-align: top;
	width: 80%;
	background: none;
	font-size: 16px;
}
.blogNewsName {
}

.blogInfoColumn {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 19%;
}

.emailGroup {
	padding: 0.5em;
	font-size: 16px;
	/*margin-left: 1%;*/
	margin-top: 2em;
	margin-right: 1em;
	background: rgba(255, 255, 255, 0.1);
	/*border-left: 3px solid rgba(255, 255, 255, 0.1);*/
	/*border-right: 3px solid rgba(255, 255, 255, 0.1);*/
	border: 3px solid rgba(255, 255, 255, 0.1);
}
.form-group{
	margin-bottom: 0.5em;
}
.form-control {
	background: none;
	border: none;
	color: cornsilk;
}

.btn {
	background: rgba(255, 255, 255, 0.3);
	border: 2px solid rgba(255, 255, 255, 0.1);
	transition: all 0.6s ease-in-out;
}
.btn:hover {
	color: white;
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}
.main-content {
	margin-top: 11em;
	margin-bottom: 12em;
}

.article{
	padding: 3em 2em;
	margin: 0em 1em;
	display: block;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.1);
	/*border-left: 3px solid rgba(255, 255, 255, 0.1);*/
	/*border-right: 3px solid rgba(255, 255, 255, 0.1);*/
	border: 3px solid rgba(255, 255, 255, 0.1);
}
.delblock {
    display: none;
}
.withMod {
    width: 99%;
}

.form-control-newsShortText {
    width:  97%;
    height: 150px;
    padding: 5px 10px 5px 10px;
    border:3px solid rgba(255, 255, 255, 0.1);
    font-size:1.5em;
}

.form-control-newsText {
    width:  97%;
    height: 300px;
    padding: 5px 10px 5px 10px;
    border:3px solid rgba(255, 255, 255, 0.1);
    font-size:1.5em;
}

.wrapperNews {
    color: white;

    display: block;

    min-height: 100%;
    min-width: 1200px;
}
